<?xml version="1.0" encoding="utf-8"?>
<SiteSecurityConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <Name>tokes</Name>
      <Role>admin</Role>
      <Ask>true</Ask>
      <EmailAddress>SomeOther@example.com</EmailAddress>
      <DisplayName>Andrew Tokeley</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>19-A2-85-41-44-B6-3A-8F-76-17-A6-F2-25-01-9B-12</Password>
    </User>
    <User>
      <Name>chris</Name>
      <Role>contributor</Role>
      <Ask>true</Ask>
      <EmailAddress>SomeOther@example.com</EmailAddress>
      <DisplayName>Chris Auld</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>26-E1-C2-B0-87-F8-FE-BD-8F-0E-65-E3-A6-B7-9B-BF</Password>
    </User>
    <User>
      <Name>reed</Name>
      <Role>contributor</Role>
      <Ask>true</Ask>
      <EmailAddress>SomeOther@example.com</EmailAddress>
      <DisplayName>Reed Shaffner</DisplayName>
      <OpenIDUrl>http://www.example.com/blog/</OpenIDUrl>
      <NotifyOnNewPost>false</NotifyOnNewPost>
      <NotifyOnAllComment>false</NotifyOnAllComment>
      <NotifyOnOwnComment>false</NotifyOnOwnComment>
      <Active>true</Active>
      <Password>26-E1-C2-B0-87-F8-FE-BD-8F-0E-65-E3-A6-B7-9B-BF</Password>
    </User>
  </Users>
</SiteSecurityConfig>